---
intro: These are my thoughts on design, code, my projects and other random stuff.
---

<section class="articles">
  <div class="container grid">
    {% assign articles = site.articles | sort: 'date' | reverse %}

    {% if !articles %}
      <p class="text-lighter">Nothing here yet!</p>
    {% else %}
      {% for article in articles %}
        <article class="article-preview">
          <a href="{{ article.url }}" class="article-title body-large">{{ article.title }}</a>
          <time class="article-title label">{{ article.date | date: "%B %d, %Y" }}</time>
        </article>
      {% endfor %}
    {% endif %}
  </div>
</section>