---
layout: default
---

<header class="article-header">
  <div class="container-small">
    <h1 class="article-title title-1">{{ page.title }}</h1>
  </div>
</header>

<article class="article-content">
  <div class="container-small">
    {{ page.content }}
  </div>
</article>

<footer class="article-footer">
  <div class="container-small grid">
    <time>Published on {{ page.date | date: "%B %d, %Y" }}</time>

    <a href="/articles" class="back body-large">Back to Articles</a>
  </div>
</footer>