---
layout: default
---

<section class="intro">
  <div class="container">
    <div class="intro-content">      
      {{content}}
    </div>
  </div>
</section>

<section class="social">
  <div class="container">
    <h4 class="section-title body-bold">Let’s get connected!</h4>

    <ul>
      <li><a href="https://twitter.com/_byvasco">Twitter</a></li>
      <li><a href="https://github.com/byvasco">GitHub</a></li>
      <li><a href="https://www.instagram.com/byvasco">Instagram</a></li>
      <li><a href="https://www.dribbble.com/byvasco">Dribbble</a></li>
    </ul>
  </div>
</section>