/**
 * Components / Page - Home
 * Conclusion
 */

.conclusion {
  padding-bottom: 120px;

  p + p {
    margin-top: 24px;
  }

  .emoji {
    margin-top: 120px;
    font-size: 26px;
    cursor: default;
  }
}