/**
 * Components / Page - Home
 * Work
 */

.work {
  padding: 120px 0;

  .section-title {
    margin-bottom: 24px;
  }

  .piece {
    padding: 32px 0;
    display: grid;
    grid-template-areas: "thumbnail title" "thumbnail description";
    column-gap: $gap-width;
    align-items: center;

    &-thumbnail {
      display: block;
      @include wh(72px, 80px);
      background-size: 100%;
      grid-area: thumbnail;
    }
    
    &-title {
      grid-area: title;
    }
    
    &-description {
      grid-area: description;
    }
  }
}